@font-face {
    font-family:RSmed ;
    src: url(PP\ RIGHT\ SLAB\ -\ LIGHT.OTF);
}
@font-face {
    font-family:RSbold ;
    src: url(PP\ RIGHT\ SLAB\ -\ MEDIUM.OTF);
}
@font-face {
    font-family:RSital ;
    src: url(PP\ RIGHT\ SLAB\ -\ LIGHT\ ITALIC.OTF);
}
body{
    margin: 0;
    padding: 0;
    font-family: RSmed;
}

main.uno{
    height: 95vh;
    width: 100vw;
    background-image:url( "01.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
}
main.dos{
    height: 95vh;
    width: 100vw;
    background-image:url( "poster\ cuadrado.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
}
main.tres{
    height: 95vh;
    width: 100vw;
    background-image:url( "Recurso\ 6.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
}
main.cuatro{
    height: 95vh;
    width: 100vw;
    background-image:url( "poster\ contacto.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
}




header {
    height: 5vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 0px;
    align-items: center;
    font-family: RSmed;
}

nav{
    width: 1920px;
}


nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    justify-content: right;}

    li{
        margin-left: 10px;
        margin-right:20px
    }

a{
    text-decoration: none;
   color: black ;
}
 a:hover{
 color: rgb(255, 153, 0) ;
 }

 a img{
    width: 70px;
 }

h1{
    font-size: 40px;
    margin: 0;
    font-family: RSmed;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 20px ;
}

 .central{
    width:480px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 51px;
    font-family: RSmed;
    text-align: right;
}

.centralizq{
    display: flex;
    width:480px;
    font-size: 20px;
    padding-top: 51px;
    padding-left: 650px;
}

span {
    transition: all 0.1s ease-in-out;
}

span:hover {
    color: #ff6347; /* Color al pasar el ratón */
}

.recurso4{
    height: 700px;
    padding-top: 20px;
    padding-left: 60px;
  
}





























DESACTIVADA .veladura{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:90vh;
    width: 100vw;
    background-color:rgba(255,255,255,.7);
    
}

