/* Colores y fuentes inspirados en el diseño vintage */
body {
    font-family: "Georgia", serif;
    background-color: #f5f1e0;
    color: #333;
    margin: 0;
    padding: 0;
}

.cursor-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#ad2b2a;
  pointer-events: none;
  transition: background-color 0.2s;
}

.header {
    text-align: center;
    margin: 20px 0;
    color: #2d2d2d;
}

.titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo img{
  width:200px;
  height: 240px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
    font-size: 200px;
    color: #ad2b2a;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.title span {
  display: inline-block;
  transition: all 0.4s ease;
}

.title span:hover {
  transform: scale(1.3) rotate(10deg);
  color: rgb(75, 11, 11);
}
.subtitulo {
    font-size: 130px;
    width: 80%;
    color: #333333;
    font-style: italic;
    padding-left: 10%;
    padding-top: ;
    margin-top: 10px;
    font-weight: 100;

}

.subtitulo span {
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .subtitulo span:hover {
    transform: scale(1.8) ;
    color: #ad2b2a; 

  }


.separadorojo{
  width: 100%;
  height: 200px;
  background-color: #ad2b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f1e0;
  font-size: 32px;
  
}

  .indicador{
    font-size: 50px;
    margin: bottom 10px;
    color: #ad2b2a;
    font-weight: 900;
  }

  .garam{
    padding-left: 6%;
    display: flex;
    font-size: 40px;
}

.garam p{
    padding-left: 50px;
    padding-right: 60px;
}

.titledos{
    font-size: 200px;
    color: #ad2b2a;
    font-weight: bold;
    padding-left: 24%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0px;
}
.titledos span {
    display: inline-block;
    transition: all 0.4s ease;
  }
  
  .titledos span:hover {
    transform: scale(1.3) rotate(10deg);
    color: rgb(59, 8, 8);}

    .contenedor{
        display: inline-block;
        transition: all 0.4 ease;
    }

.contenedor:hover{
        transform: scale (1.6);}





.footy{
    background-color: #ad2b2a;
    width: 100%;
    height: 980px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f1e0;
    font-size: 130px;
    padding-left: 20px;
    font-weight: 100;
}
.footy span{
  font-style: italic;
  color: white;
border: #2d2d2d;
}

